.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.register {
    width: 400px;
    height: 650px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.register-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.register-logo img{
    width: 120px;
    height: 74.18px;
}

.register-title {
    margin-bottom: 20px;
}

.register-title a {
    color: #4D4D4D;
    font-size: small;
    font-weight: regular;
    margin-left: 5px;
    text-decoration: none;
}


.register-title h6 {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: regular;
}

.register-title .sub-title {
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: regular;
    color: #ABABAB;
}

.label {
    font-size: small;
    font-weight: bold;
}

.field-input {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #ABABAB;
    border-radius: 5px;
}

.btn-register {
    width: 100%;
    height: 35px;
    margin-top: 20px;
}